# Team Gear5 - ADA 2024 Project  


**Authors:** Mahmoud Dokmak, Matthieu Borello, Loïc Domingos, Léo Bruneau, Bastien Armstrong

<hr style="clear:both">

In [17]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import warnings
#warnings.filterwarnings('ignore')
from openpyxl.styles.builtins import title
from scipy.stats import ttest_ind
from collections import Counter
from scipy.stats import chi2_contingency

In [18]:
def print_df_size(name, df):
	print(name, f"- shape: {df.shape} --> {df.shape[0]} rows and {df.shape[1]} columns")

In [19]:
data_movies = pd.read_csv('./data/MovieSummaries/movie.metadata.tsv', sep='\t', header=None)
print_df_size("data of movies", data_movies)

data of movies - shape: (81741, 9) --> 81741 rows and 9 columns

In [20]:
data_movies[1]
print(type(data_movies[1].iloc[0]))
data_movies.head(10)

<class 'str'>

,0,1,2,3,4,5,6,7,8
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
5,13696889,/m/03cfc81,The Gangsters,1913-05-29,NaN,35.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film"", ""/m/06ppq"": ""Silen..."
6,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant..."
7,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ..."
8,9997961,/m/06_y2j7,Contigo y aquí,1974,NaN,NaN,"{""/m/06nm1"": ""Spanish Language""}","{""/m/0jgd"": ""Argentina""}","{""/m/04t36"": ""Musical"", ""/m/07s9rl0"": ""Drama"",..."
9,2345652,/m/075f66,City of the Dead,1960,NaN,76.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/03npn"": ""Horror"", ""/m/0fdjb"": ""Supernatur..."

In [21]:
added_movies = pd.read_json('./data/movie_dataset_public_final/raw/metadata_updated.json', lines=True)
print_df_size("added movies", added_movies)

added movies - shape: (84661, 6) --> 84661 rows and 6 columns

In [22]:
added_movies["imdbId"]
print(type(added_movies["imdbId"].iloc[0]))
added_movies.head(10)

<class 'numpy.int64'>

,title,directedBy,starring,avgRating,imdbId,item_id
0,Toy Story (1995),John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",3.89146,114709,1
1,Jumanji (1995),Joe Johnston,"Jonathan Hyde, Bradley Pierce, Robin Williams,...",3.26605,113497,2
2,Grumpier Old Men (1995),Howard Deutch,"Jack Lemmon, Walter Matthau, Ann-Margret , Sop...",3.17146,113228,3
3,Waiting to Exhale (1995),Forest Whitaker,"Angela Bassett, Loretta Devine, Whitney Housto...",2.86824,114885,4
4,Father of the Bride Part II (1995),Charles Shyer,"Steve Martin, Martin Short, Diane Keaton, Kimb...",3.07620,113041,5
5,Heat (1995),Michael Mann,"Robert De Niro, Al Pacino, Val Kilmer, Jon Voi...",3.85549,113277,6
6,Sabrina (1995),Sydney Pollack,"Harrison Ford, Greg Kinnear, Nancy Marchand, J...",3.37244,114319,7
7,Tom and Huck (1995),Peter Hewitt,"Jonathan Taylor Thomas, Brad Renfro, Eric Schw...",3.11678,112302,8
8,Sudden Death (1995),Peter Hyams,"Raymond J. Barry, Powers Boothe, Jean-Claude V...",3.00242,114576,9
9,GoldenEye (1995),Martin Campbell,"Pierce Brosnan, Sean Bean, Famke Janssen, Izab...",3.43340,113189,10

In [23]:
added_movies["imdbId"] = added_movies["imdbId"].astype(str)
print(type(added_movies["imdbId"].iloc[0]))
added_movies.head(10)

<class 'str'>

,title,directedBy,starring,avgRating,imdbId,item_id
0,Toy Story (1995),John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",3.89146,114709,1
1,Jumanji (1995),Joe Johnston,"Jonathan Hyde, Bradley Pierce, Robin Williams,...",3.26605,113497,2
2,Grumpier Old Men (1995),Howard Deutch,"Jack Lemmon, Walter Matthau, Ann-Margret , Sop...",3.17146,113228,3
3,Waiting to Exhale (1995),Forest Whitaker,"Angela Bassett, Loretta Devine, Whitney Housto...",2.86824,114885,4
4,Father of the Bride Part II (1995),Charles Shyer,"Steve Martin, Martin Short, Diane Keaton, Kimb...",3.07620,113041,5
5,Heat (1995),Michael Mann,"Robert De Niro, Al Pacino, Val Kilmer, Jon Voi...",3.85549,113277,6
6,Sabrina (1995),Sydney Pollack,"Harrison Ford, Greg Kinnear, Nancy Marchand, J...",3.37244,114319,7
7,Tom and Huck (1995),Peter Hewitt,"Jonathan Taylor Thomas, Brad Renfro, Eric Schw...",3.11678,112302,8
8,Sudden Death (1995),Peter Hyams,"Raymond J. Barry, Powers Boothe, Jean-Claude V...",3.00242,114576,9
9,GoldenEye (1995),Martin Campbell,"Pierce Brosnan, Sean Bean, Famke Janssen, Izab...",3.43340,113189,10

In [24]:
converter = pd.read_csv('./data/Converter/query.csv')
print_df_size("converter", converter)

converter - shape: (409064, 2) --> 409064 rows and 2 columns

In [25]:
print(type(converter["imdb_id"].iloc[0]))
print(type(converter["freebase_id"].iloc[0]))
converter.head(10)

<class 'str'>
<class 'str'>

     imdb_id freebase_id
0  nm0010930    /m/0282x
1  nm0124133   /m/09b6zr
2  nm0684496    /m/014d3
3  nm0061667    /m/01rgr
4  tt1675434  /m/0hgqwpj
5  nm0949918    /m/0m2l9
6  nm0180134    /m/0fyh4
7  nm0001789     /m/0hy8
8  nm0686817    /m/05qmj
9  nm0000658    /m/0h0wc

In [26]:
converter["imdb_id"] = converter["imdb_id"].str[3:]
converter.head(10)

  imdb_id freebase_id
0  010930    /m/0282x
1  124133   /m/09b6zr
2  684496    /m/014d3
3  061667    /m/01rgr
4  675434  /m/0hgqwpj
5  949918    /m/0m2l9
6  180134    /m/0fyh4
7  001789     /m/0hy8
8  686817    /m/05qmj
9  000658    /m/0h0wc

In [27]:
merged_data = pd.merge(data_movies, converter, left_on=1, right_on="freebase_id", how='left')

data_movies['imdb_id'] = merged_data["imdb_id"]

In [28]:
data_movies.head(20)

,0,1,2,3,4,5,6,7,8,imdb_id
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",228333
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",245916
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",094806
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",094320
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",083949
5,13696889,/m/03cfc81,The Gangsters,1913-05-29,NaN,35.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film"", ""/m/06ppq"": ""Silen...",002894
6,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant...",NaN
7,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ...",029852
8,9997961,/m/06_y2j7,Contigo y aquí,1974,NaN,NaN,"{""/m/06nm1"": ""Spanish Language""}","{""/m/0jgd"": ""Argentina""}","{""/m/04t36"": ""Musical"", ""/m/07s9rl0"": ""Drama"",...",200545
9,2345652,/m/075f66,City of the Dead,1960,NaN,76.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/03npn"": ""Horror"", ""/m/0fdjb"": ""Supernatur...",053719
10,175026,/m/017n1p,Sarah and Son,1930,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama"", ""/m/01g6gs"": ""Black-an...",021335
11,24229100,/m/07kjkz6,Lady Snowblood 2: Love Song of Vengeance,1974,NaN,89.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th...",072157
12,6631279,/m/0gffwj,Little city,1997-04-04,NaN,93.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/0hj3n0w"": ...",119548
13,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",097499
14,18296435,/m/04cqrs4,Aaah Belinda,1986,NaN,NaN,"{""/m/02hwyss"": ""Turkish Language""}","{""/m/01znc_"": ""Turkey""}","{""/m/01z4y"": ""Comedy""}",278891
15,11250635,/m/02r52hc,The Mechanical Monsters,NaN,NaN,NaN,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06n90"": ""Science Fiction"", ""/m/03k9fj"": ""...",033888
16,30388930,/m/0g5qvzg,1919,1984,NaN,99.0,{},{},"{""/m/07s9rl0"": ""Drama""}",088646
17,77856,/m/0kcn7,Mary Poppins,1964-08-27,102272727.0,139.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3myq"": ""Children's/Family"", ""/m/04t36""...",058331
18,32456683,/m/0gyryjt,Die Fahne von Kriwoj Rog,1967,NaN,108.0,"{""/m/04306rv"": ""German Language""}","{""/m/03f2w"": ""German Democratic Republic""}",{},061637
19,33420460,/m/0gj30jx,Keep the Change,1992,NaN,97.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}",104601

In [29]:
# Merge data_movies with added_movies on imdb_id to add additional information
final_data = pd.merge(data_movies, added_movies, left_on='imdb_id', right_on="imdbId", how='left')

# Display the first few rows of the final DataFrame
final_data.head(20)

,0,1,2,3,4,5,6,7,8,imdb_id,title,directedBy,starring,avgRating,imdbId,item_id
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",228333,Ghosts of Mars (2001),John Carpenter,"Natasha Henstridge, Ice Cube, Jason Statham, C...",2.35723,228333,4735.0
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",245916,NaN,NaN,NaN,NaN,NaN,NaN
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",094806,NaN,NaN,NaN,NaN,NaN,NaN
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",094320,NaN,NaN,NaN,NaN,NaN,NaN
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",083949,NaN,NaN,NaN,NaN,NaN,NaN
5,13696889,/m/03cfc81,The Gangsters,1913-05-29,NaN,35.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film"", ""/m/06ppq"": ""Silen...",002894,NaN,NaN,NaN,NaN,NaN,NaN
6,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ...",029852,NaN,NaN,NaN,NaN,NaN,NaN
8,9997961,/m/06_y2j7,Contigo y aquí,1974,NaN,NaN,"{""/m/06nm1"": ""Spanish Language""}","{""/m/0jgd"": ""Argentina""}","{""/m/04t36"": ""Musical"", ""/m/07s9rl0"": ""Drama"",...",200545,NaN,NaN,NaN,NaN,NaN,NaN
9,2345652,/m/075f66,City of the Dead,1960,NaN,76.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/03npn"": ""Horror"", ""/m/0fdjb"": ""Supernatur...",053719,NaN,NaN,NaN,NaN,NaN,NaN
10,175026,/m/017n1p,Sarah and Son,1930,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama"", ""/m/01g6gs"": ""Black-an...",021335,NaN,NaN,NaN,NaN,NaN,NaN
11,24229100,/m/07kjkz6,Lady Snowblood 2: Love Song of Vengeance,1974,NaN,89.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th...",072157,NaN,NaN,NaN,NaN,NaN,NaN
12,6631279,/m/0gffwj,Little city,1997-04-04,NaN,93.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/0hj3n0w"": ...",119548,Little City (1998),Roberto Benabib,"Jon Bon Jovi, Josh Charles, Penelope Ann Mille...",3.00000,119548,1782.0
13,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",097499,NaN,NaN,NaN,NaN,NaN,NaN
14,18296435,/m/04cqrs4,Aaah Belinda,1986,NaN,NaN,"{""/m/02hwyss"": ""Turkish Language""}","{""/m/01znc_"": ""Turkey""}","{""/m/01z4y"": ""Comedy""}",278891,Aaahh Belinda (1986),Atıf Yılmaz,"Müjde Ar,Yılmaz Zafer,Macit Koper,Fatoş Sezer,...",4.50000,278891,236345.0
15,11250635,/m/02r52hc,The Mechanical Monsters,NaN,NaN,NaN,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06n90"": ""Science Fiction"", ""/m/03k9fj"": ""...",033888,NaN,NaN,NaN,NaN,NaN,NaN
16,30388930,/m/0g5qvzg,1919,1984,NaN,99.0,{},{},"{""/m/07s9rl0"": ""Drama""}",088646,NaN,NaN,NaN,NaN,NaN,NaN
17,77856,/m/0kcn7,Mary Poppins,1964-08-27,102272727.0,139.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3myq"": ""Children's/Family"", ""/m/04t36""...",058331,NaN,NaN,NaN,NaN,NaN,NaN
18,32456683,/m/0gyryjt,Die Fahne von Kriwoj Rog,1967,NaN,108.0,"{""/m/04306rv"": ""German Language""}","{""/m/03f2w"": ""German Democratic Republic""}",{},061637,NaN,NaN,NaN,NaN,NaN,NaN
19,33420460,/m/0gj30jx,Keep the Change,1992,NaN,97.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}",104601,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# Drop rows where the 'imdb_id' column is NaN
filtered_final_data = final_data.dropna(subset=['imdbId'])

# Display the first few rows of the filtered DataFrame
filtered_final_data.head(20)

,0,1,2,3,4,5,6,7,8,imdb_id,title,directedBy,starring,avgRating,imdbId,item_id
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",228333,Ghosts of Mars (2001),John Carpenter,"Natasha Henstridge, Ice Cube, Jason Statham, C...",2.35723,228333,4735.0
12,6631279,/m/0gffwj,Little city,1997-04-04,NaN,93.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/0hj3n0w"": ...",119548,Little City (1998),Roberto Benabib,"Jon Bon Jovi, Josh Charles, Penelope Ann Mille...",3.00000,119548,1782.0
14,18296435,/m/04cqrs4,Aaah Belinda,1986,NaN,NaN,"{""/m/02hwyss"": ""Turkish Language""}","{""/m/01znc_"": ""Turkey""}","{""/m/01z4y"": ""Comedy""}",278891,Aaahh Belinda (1986),Atıf Yılmaz,"Müjde Ar,Yılmaz Zafer,Macit Koper,Fatoş Sezer,...",4.50000,278891,236345.0
21,612710,/m/02wjqm,New Rose Hotel,1999-10-01,21521.0,92.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",133122,New Rose Hotel (1998),Abel Ferrara,"Willem Dafoe, Christopher Walken, Asia Argento...",2.47790,133122,2892.0
22,21926710,/m/05p45cv,White on Rice,2009,NaN,82.0,{},"{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/02l7c8"": ""...",892904,White on Rice (2009),Dave Boyle,"Hiroshi Watanabe, Nae, Mio Takada",2.00000,892904,90777.0
29,156558,/m/014k4y,Baby Boy,2001-06-27,29381649.0,123.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",255819,Baby Boy (2001),John Singleton,"Omar Gooding, Tyrese Gibson, Taraji P. Henson,...",2.92526,255819,4371.0
38,26067101,/m/0b6c_nw,Siam Sunset,1999,NaN,91.0,{},"{""/m/0chghy"": ""Australia"", ""/m/0ctw_b"": ""New Z...","{""/m/06cvj"": ""Romantic comedy"", ""/m/02l7c8"": ""...",178022,Siam Sunset (1999),John Polson,"Linus Roache, Danielle Cormack, Ian Bliss, Roy...",3.21875,178022,6402.0
45,2314463,/m/0734w5,Electric Apricot: Quest For Festeroo,2006,NaN,96.0,{},"{""/m/09c7w0"": ""United States of America""}","{""/m/0gf28"": ""Parody"", ""/m/0l4h_"": ""Mockumenta...",482499,National Lampoon Presents Electric Apricot: Qu...,Les Claypool,"Dian Bachar,Arj Barker,Lawrence Brooke,Les Cla...",3.66667,482499,171649.0
46,2487170,/m/07h9zj,Troops,1997,NaN,10.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/068twy"": ""Fan film"", ""/m/02hmvc"": ""Short ...",153301,Troops (1997),Kevin Rubio,,3.47500,153301,181755.0
47,25960460,/m/0b6kc_5,Daddy and Them,2001,NaN,101.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/0vgkd"": ""Black comedy"", ""/m/01z4y"": ""Come...",166158,Daddy and Them (2001),Billy Bob Thornton,"Billy Bob Thornton, Laura Dern, Diane Ladd, Ke...",2.73810,166158,7278.0
53,12008535,/m/02vlsqt,Rudo y Cursi,2008,11091868.0,103.0,"{""/m/06nm1"": ""Spanish Language""}","{""/m/0b90_r"": ""Mexico"", ""/m/09c7w0"": ""United S...","{""/m/01z02hx"": ""Sports"", ""/m/07s9rl0"": ""Drama""...",405393,Rudo y Cursi (Rough and Vulgar) (2008),Carlos Cuarón,"Gael García Bernal, Diego Luna",3.40667,405393,71575.0
57,11633165,/m/02rm6l8,Innocence,1997,NaN,110.0,"{""/m/02hwyss"": ""Turkish Language""}","{""/m/01znc_"": ""Turkey""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",128332,Innocence (1997),Zeki Demirkubuz,"Güven Kıraç,Haluk Bilginer,Derya Alabora,Yalci...",3.79730,128332,130992.0
58,21449578,/m/05f6kpj,Hamsun,1996-04-19,NaN,160.0,"{""/m/02h40lc"": ""English Language"", ""/m/06mp7"":...","{""/m/0345h"": ""Germany"", ""/m/0k6nt"": ""Denmark"",...","{""/m/082gq"": ""War film"", ""/m/07s9rl0"": ""Drama""...",116480,Hamsun (1996),Jan Troell,"Max von Sydow, Ghita Nørby, Anette Hoff, Gard ...",3.29412,116480,83529.0
60,5708633,/m/0f0d1p,The Great New Wonderful,2006-06-23,172055.0,87.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama"", ""/m/0hj3n0w"": ""Ensembl...",402230,The Great New Wonderful (2005),Danny Leiner,"Olympia Dukakis,Jim Gaffigan,Judy Greer,Maggie...",2.83333,402230,198521.0
69,12371532,/m/02w1jsk,Chasing Ghosts: Beyond the Arcade,2007,NaN,90.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3n07"": ""Culture & Society"", ""/m/017fp""...",479879,Chasing Ghosts: Beyond the Arcade (2007),Lincoln Ruchti,"Steve Sanders, Roy Shildt, Walter Day, Ben Gol...",3.50000,479879,106431.0
96,24039457,/m/0crx1wl,ZA: Zombies Anonymous,2005,NaN,118.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0gf28"": ""Parody"", ""/m/0qdzd"": ""B-movie"", ...",465517,Zombies Anonymous: Last Rites of the Dead (2006),Marc Fratto,"Gina Ramsden,Joshua Nelson,Christa McNamee,Gae...",4.00000,465517,229151.0
98,5894429,/m/0fc8w8,Closing the Ring,2007-09-14,NaN,117.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/068d7h"": ""Romantic drama"", ""/m/02l7c8"": ""...",488380,Closing the Ring (2007),Richard Attenborough,"Shirley MacLaine, Christopher Plummer, Dylan R...",3.04545,488380,85332.0
101,27556929,/m/04j0jtp,Deadly Voyage,1996,NaN,90.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/01jfsb"": ""Thriller"", ""/m/0cq22f9"": ""Actio...",116056,Deadly Voyage (1996),John Mackenzie,"Omar Epps, Joss Ackland, Sean Pertwee, David S...",2.66667,116056,107268.0
102,4300418,/m/0bvx7h,The Hero: Love Story of a Spy,2003-04-11,NaN,182.0,"{""/m/03k50"": ""Hindi Language""}","{""/m/03rk0"": ""India""}","{""/m/01jfsb"": ""Thriller"", ""/m/0cq22f9"": ""Actio...",347167,"Hero: Love Story of a Spy, The (2003)","Sharma, Anil","Sunny Deol, Preity Zinta, Priyanka Chopra, Amr...",2.63333,347167,74404.0
110,8669450,/m/027d9tv,One Six Right,2005-11-25,NaN,73.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0jtdp"": ""Documentary""}",475994,One Six Right (2005),Brian Terwilliger,"Lorenzo Lamas,Sydney Pollack",3.00000,475994,148785.0

In [31]:
print_df_size("final data", filtered_final_data)

final data - shape: (14770, 16) --> 14770 rows and 16 columns

In [32]:
# Count the number of NaN values in the fourth column (index 3)
nan_count = filtered_final_data.iloc[:, 5].isna().sum()

# Print the count
print(nan_count)

3775