In [2]:
import pandas as pd
#import warnings

#warnings.filterwarnings("ignore")
from src.models.sentiment_analysis import sentiment_analysis

In [3]:
#df_for_reviews = pd.read_json('./data/movie_dataset_public_final/raw/reviews.json', lines=True)

In [4]:
df_for_reviews = pd.read_pickle("./data/reviews.pkl")

In [5]:
df_for_reviews = df_for_reviews.rename(columns={'txt': 'review'})
df_for_reviews

         item_id                                             review
0         172063  one-shot record of a belly dancer; "Carmencita...
1          95541  Banging Away..; Thomas Edison and William K.L....
2           7065  unbelievable; I cannot understand how anyone c...
3           3739  I'm still starry-eyed from it; I saw this last...
4           1562  Failed on every Front; Joel Schumacher who did...
...          ...                                                ...
2624603      520  Aims low, with hilarious results; ROBIN HOOD: ...
2624604     8640  Worst epic of 2004; I usually love big epics i...
2624605     1377  superb Second Movie; I was glad to see that Ti...
2624606    26746  Seagal takes out the garbage; This is hard cor...
2624607    34045  Is that I as in Butterfly?; In 2004, a film wa...

[2624608 rows x 2 columns]

In [6]:
df_for_reviews.dtypes

item_id     int64
review     object
dtype: object

In [7]:
df_for_test = df_for_reviews.iloc[0:1000]
print(df_for_test.shape)
df_for_test.head(10)

(1000, 2)

   item_id                                             review
0   172063  one-shot record of a belly dancer; "Carmencita...
1    95541  Banging Away..; Thomas Edison and William K.L....
2     7065  unbelievable; I cannot understand how anyone c...
3     3739  I'm still starry-eyed from it; I saw this last...
4     1562  Failed on every Front; Joel Schumacher who did...
5     8977  Poor Casting, Poor script Poor direction.; I h...
6     2174  An Accomplished Tim Burton Movie; A Great Idea...
7     8947  Very good; I saw "The Grudge" yesterday, and w...
8   143027  This movie was stupid.; This movie was totally...
9   143027  . . . is a great movie.; Amazing! Finally Disn...

In [10]:
output_file = "./data/sentiment_analysis.csv"
df_for_test_copy = df_for_test.copy()
df_with_sentiment = sentiment_analysis(df_for_test_copy, "review", "item_id", output_file)

distilbert-base-uncased-finetuned-sst-2-english

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1000/1000 [01:13<00:00, 13.67it/s]

In [11]:
df_with_sentiment

                                    sentiment_analysis  item_id
0    {'label': 'NEGATIVE', 'score': 0.9942500591278...   172063
1    {'label': 'POSITIVE', 'score': 0.9948009252548...    95541
2    {'label': 'NEGATIVE', 'score': 0.9970976114273...     7065
3    {'label': 'POSITIVE', 'score': 0.9997346997261...     3739
4    {'label': 'NEGATIVE', 'score': 0.9997946619987...     1562
..                                                 ...      ...
995  {'label': 'POSITIVE', 'score': 0.9998169541358...    27699
996  {'label': 'POSITIVE', 'score': 0.9979324340820...     8784
997  {'label': 'POSITIVE', 'score': 0.999785840511322}    31225
998  {'label': 'NEGATIVE', 'score': 0.5068520307540...     4932
999  {'label': 'POSITIVE', 'score': 0.9989112615585...     6140

[1000 rows x 2 columns]

In [12]:
df = pd.read_csv(output_file)

In [13]:
combined_df = pd.concat([df_for_test, df], axis=1)
combined_df

,item_id,review,Unnamed: 0,sentiment_analysis,item_id
0,172063,"one-shot record of a belly dancer; ""Carmencita...",0,"{'label': 'NEGATIVE', 'score': 0.9942500591278...",172063
1,95541,Banging Away..; Thomas Edison and William K.L....,1,"{'label': 'POSITIVE', 'score': 0.9948009252548...",95541
2,7065,unbelievable; I cannot understand how anyone c...,2,"{'label': 'NEGATIVE', 'score': 0.9970976114273...",7065
3,3739,I'm still starry-eyed from it; I saw this last...,3,"{'label': 'POSITIVE', 'score': 0.9997346997261...",3739
4,1562,Failed on every Front; Joel Schumacher who did...,4,"{'label': 'NEGATIVE', 'score': 0.9997946619987...",1562
...,...,...,...,...,...
995,27699,"I loved this movie.; I'd heard of Alice Paul, ...",995,"{'label': 'POSITIVE', 'score': 0.9998169541358...",27699
996,8784,"Perfection...; Now i say perfection, and i rea...",996,"{'label': 'POSITIVE', 'score': 0.9979324340820...",8784
997,31225,"excellent; To sum it all up, i would have to s...",997,"{'label': 'POSITIVE', 'score': 0.999785840511322}",31225
998,4932,An incredible thrill ride; What do you get if ...,998,"{'label': 'NEGATIVE', 'score': 0.5068520307540...",4932
999,6140,Another example of Argento's genius; - Plot: (...,999,"{'label': 'POSITIVE', 'score': 0.9989112615585...",6140

In [14]:
combined_df.columns

Index(['item_id', 'review', 'Unnamed: 0', 'sentiment_analysis', 'item_id'], dtype='object')

In [15]:
combined_df = combined_df.drop(columns=['Unnamed: 0'])