In [1]:
#from google.colab import drive
#drive.mount('/content/drive')
#import os
#os.chdir('/content/drive/MyDrive/your_project_directory')

In [2]:
import pandas as pd
#import warnings

#warnings.filterwarnings("ignore")
from src.models.sentiment_analysis import sentiment_analysis

In [3]:
df_for_reviews = pd.read_pickle("./data/merged_data_with_reviews.pkl")

In [4]:
df_for_reviews = df_for_reviews.rename(columns={'txt': 'review'})
df_for_reviews

,freebase_movie_id,movie_name,vote_average,vote_count,popularity,movie_countries_final,movie_genres_final,combined_release_date,Box_Office,imdb_id,avgRating,item_id,review
0,/m/03vyhn,Ghosts of Mars,5.127,977,14.189,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",2001-08-24,14010832.0,228333,2.35723,4735,Pretty Good; On the planet Mars in the not-too...
1,/m/03vyhn,Ghosts of Mars,5.127,977,14.189,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",2001-08-24,14010832.0,228333,2.35723,4735,Quatermass influence; I have not read all the ...
2,/m/03vyhn,Ghosts of Mars,5.127,977,14.189,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",2001-08-24,14010832.0,228333,2.35723,4735,Dreary stuff; GHOSTS OF MARS Aspect ratio: 2.3...
3,/m/03vyhn,Ghosts of Mars,5.127,977,14.189,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",2001-08-24,14010832.0,228333,2.35723,4735,Please stop watching Carpenter if you hate his...
4,/m/03vyhn,Ghosts of Mars,5.127,977,14.189,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",2001-08-24,14010832.0,228333,2.35723,4735,Entertaining Time Killer But Nothing More Then...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294399,/m/02pygw1,Another Nice Mess,0.000,0,2.087,United States of America,"Satire, Comedy",1972-09-22,NaN,362411,0.00000,146598,See? I WASN'T Hallucinating!; Ever have the f...
1294400,/m/02pygw1,Another Nice Mess,0.000,0,2.087,United States of America,"Satire, Comedy",1972-09-22,NaN,362411,0.00000,146598,I Can't Believe It's Finally Listed!; I though...
1294401,/m/02pygw1,Another Nice Mess,0.000,0,2.087,United States of America,"Satire, Comedy",1972-09-22,NaN,362411,0.00000,146598,I wrote the music while Einstein was away in ...
1294402,/m/02pygw1,Another Nice Mess,0.000,0,2.087,United States of America,"Satire, Comedy",1972-09-22,NaN,362411,0.00000,146598,I Know I Wasn't Hallucinating...; ..I just got...
1294403,/m/02pygw1,Another Nice Mess,0.000,0,2.087,United States of America,"Satire, Comedy",1972-09-22,NaN,362411,0.00000,146598,I've wanted to see this for YEARS!; I'm glad t...

In [5]:
df_for_reviews.dtypes

freebase_movie_id         object
movie_name                object
vote_average             float64
vote_count                 int64
popularity               float64
movie_countries_final     object
movie_genres_final        object
combined_release_date     object
Box_Office               float64
imdb_id                   object
avgRating                float64
item_id                    int64
review                    object
dtype: object

In [6]:
df_for_test = df_for_reviews.iloc[0:1000]
print(df_for_test.shape)
df_for_test.head(10)

(1000, 13)

,freebase_movie_id,movie_name,vote_average,vote_count,popularity,movie_countries_final,movie_genres_final,combined_release_date,Box_Office,imdb_id,avgRating,item_id,review
0,/m/03vyhn,Ghosts of Mars,5.127,977,14.189,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",2001-08-24,14010832.0,228333,2.35723,4735,Pretty Good; On the planet Mars in the not-too...
1,/m/03vyhn,Ghosts of Mars,5.127,977,14.189,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",2001-08-24,14010832.0,228333,2.35723,4735,Quatermass influence; I have not read all the ...
2,/m/03vyhn,Ghosts of Mars,5.127,977,14.189,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",2001-08-24,14010832.0,228333,2.35723,4735,Dreary stuff; GHOSTS OF MARS Aspect ratio: 2.3...
3,/m/03vyhn,Ghosts of Mars,5.127,977,14.189,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",2001-08-24,14010832.0,228333,2.35723,4735,Please stop watching Carpenter if you hate his...
4,/m/03vyhn,Ghosts of Mars,5.127,977,14.189,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",2001-08-24,14010832.0,228333,2.35723,4735,Entertaining Time Killer But Nothing More Then...
5,/m/03vyhn,Ghosts of Mars,5.127,977,14.189,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",2001-08-24,14010832.0,228333,2.35723,4735,what a crap film; I read reviews of this film ...
6,/m/03vyhn,Ghosts of Mars,5.127,977,14.189,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",2001-08-24,14010832.0,228333,2.35723,4735,"not that bad; it wasn't Carpenters best, but i..."
7,/m/03vyhn,Ghosts of Mars,5.127,977,14.189,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",2001-08-24,14010832.0,228333,2.35723,4735,Just disappointing; I only could watch it on a...
8,/m/03vyhn,Ghosts of Mars,5.127,977,14.189,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",2001-08-24,14010832.0,228333,2.35723,4735,Carpenter is one of my favorite directors of s...
9,/m/03vyhn,Ghosts of Mars,5.127,977,14.189,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",2001-08-24,14010832.0,228333,2.35723,4735,"Qucik Reviews!!; What is increasingly, and unf..."

In [7]:
output_file = "./data/sentiment_analysis.csv"
df_for_test_copy = df_for_test.copy()
df_with_sentiment = sentiment_analysis(df_for_test_copy, "review", "item_id", output_file)

distilbert-base-uncased-finetuned-sst-2-english

Map:   0%|          | 0/1000 [00:00<?, ? examples/s]

In [8]:
df_with_sentiment

                                    sentiment_analysis  item_id
0    {'label': 'NEGATIVE', 'score': 0.5339718461036...     4735
1    {'label': 'POSITIVE', 'score': 0.9838243722915...     4735
2    {'label': 'NEGATIVE', 'score': 0.9979127049446...     4735
3    {'label': 'POSITIVE', 'score': 0.9301530122756...     4735
4    {'label': 'POSITIVE', 'score': 0.998737633228302}     4735
..                                                 ...      ...
995  {'label': 'POSITIVE', 'score': 0.9995942711830...       81
996  {'label': 'POSITIVE', 'score': 0.998979389667511}       81
997  {'label': 'POSITIVE', 'score': 0.9975186586380...       81
998  {'label': 'NEGATIVE', 'score': 0.7846632599830...       81
999  {'label': 'POSITIVE', 'score': 0.9970144033432...       81

[1000 rows x 2 columns]

In [14]:
df = pd.read_csv(output_file)
df

     Unnamed: 0                                 sentiment_analysis  item_id
0             0  {'label': 'NEGATIVE', 'score': 0.5339718461036...     4735
1             1  {'label': 'POSITIVE', 'score': 0.9838243722915...     4735
2             2  {'label': 'NEGATIVE', 'score': 0.9979127049446...     4735
3             3  {'label': 'POSITIVE', 'score': 0.9301530122756...     4735
4             4  {'label': 'POSITIVE', 'score': 0.998737633228302}     4735
..          ...                                                ...      ...
995         995  {'label': 'POSITIVE', 'score': 0.9995942711830...       81
996         996  {'label': 'POSITIVE', 'score': 0.998979389667511}       81
997         997  {'label': 'POSITIVE', 'score': 0.9975186586380...       81
998         998  {'label': 'NEGATIVE', 'score': 0.7846632599830...       81
999         999  {'label': 'POSITIVE', 'score': 0.9970144033432...       81

[1000 rows x 3 columns]

In [15]:
r = pd.read_pickle("./data/reviews.pkl")

In [16]:
r

         item_id                                                txt
0         172063  one-shot record of a belly dancer; "Carmencita...
1          95541  Banging Away..; Thomas Edison and William K.L....
2           7065  unbelievable; I cannot understand how anyone c...
3           3739  I'm still starry-eyed from it; I saw this last...
4           1562  Failed on every Front; Joel Schumacher who did...
...          ...                                                ...
2624603      520  Aims low, with hilarious results; ROBIN HOOD: ...
2624604     8640  Worst epic of 2004; I usually love big epics i...
2624605     1377  superb Second Movie; I was glad to see that Ti...
2624606    26746  Seagal takes out the garbage; This is hard cor...
2624607    34045  Is that I as in Butterfly?; In 2004, a film wa...

[2624608 rows x 2 columns]