In [1]:
import pandas as pd
from pexpect.fdpexpect import fdspawn
import warnings

warnings.filterwarnings("ignore")
from src.models.sentiment_analysis import sentiment_analysis

In [2]:
#df_for_reviews = pd.read_json('./data/movie_dataset_public_final/raw/reviews.json', lines=True)

In [3]:
df_for_reviews = pd.read_pickle("./data/reviews.pkl")

In [4]:
df_for_reviews

         item_id                                                txt
0         172063  one-shot record of a belly dancer; "Carmencita...
1          95541  Banging Away..; Thomas Edison and William K.L....
2           7065  unbelievable; I cannot understand how anyone c...
3           3739  I'm still starry-eyed from it; I saw this last...
4           1562  Failed on every Front; Joel Schumacher who did...
...          ...                                                ...
2624603      520  Aims low, with hilarious results; ROBIN HOOD: ...
2624604     8640  Worst epic of 2004; I usually love big epics i...
2624605     1377  superb Second Movie; I was glad to see that Ti...
2624606    26746  Seagal takes out the garbage; This is hard cor...
2624607    34045  Is that I as in Butterfly?; In 2004, a film wa...

[2624608 rows x 2 columns]

In [5]:
df_for_reviews.dtypes

item_id     int64
txt        object
dtype: object

In [6]:
df_for_test = df_for_reviews.iloc[0:1000]
print(df_for_test.shape)
df_for_test

(1000, 2)

     item_id                                                txt
0     172063  one-shot record of a belly dancer; "Carmencita...
1      95541  Banging Away..; Thomas Edison and William K.L....
2       7065  unbelievable; I cannot understand how anyone c...
3       3739  I'm still starry-eyed from it; I saw this last...
4       1562  Failed on every Front; Joel Schumacher who did...
..       ...                                                ...
995    27699  I loved this movie.; I'd heard of Alice Paul, ...
996     8784  Perfection...; Now i say perfection, and i rea...
997    31225  excellent; To sum it all up, i would have to s...
998     4932  An incredible thrill ride; What do you get if ...
999     6140  Another example of Argento's genius; - Plot: (...

[1000 rows x 2 columns]

In [7]:
df_with_sentiment = sentiment_analysis(df_for_test, "txt")

distilbert-base-uncased-finetuned-sst-2-english

100%|██████████| 1000/1000 [01:06<00:00, 15.11it/s]

In [8]:
df_with_sentiment

,item_id,txt,sentiment,sentiment_score
0,172063,"one-shot record of a belly dancer; ""Carmencita...",NEGATIVE,0.994250
1,95541,Banging Away..; Thomas Edison and William K.L....,POSITIVE,0.994801
2,7065,unbelievable; I cannot understand how anyone c...,NEGATIVE,0.997098
3,3739,I'm still starry-eyed from it; I saw this last...,POSITIVE,0.999735
4,1562,Failed on every Front; Joel Schumacher who did...,NEGATIVE,0.999795
...,...,...,...,...
995,27699,"I loved this movie.; I'd heard of Alice Paul, ...",POSITIVE,0.999817
996,8784,"Perfection...; Now i say perfection, and i rea...",POSITIVE,0.997932
997,31225,"excellent; To sum it all up, i would have to s...",POSITIVE,0.999786
998,4932,An incredible thrill ride; What do you get if ...,NEGATIVE,0.506852
999,6140,Another example of Argento's genius; - Plot: (...,POSITIVE,0.998911