In [1]:
import pandas as pd
from pexpect.fdpexpect import fdspawn
import warnings

warnings.filterwarnings("ignore")
from src.models.sentiment_analysis import perform_sentiment_analysis

In [2]:
df_for_reviews = pd.read_json('./data/movie_dataset_public_final/raw/reviews.json', lines=True)

In [3]:
df_for_reviews

         item_id                                                txt
0         172063  one-shot record of a belly dancer; "Carmencita...
1          95541  Banging Away..; Thomas Edison and William K.L....
2           7065  unbelievable; I cannot understand how anyone c...
3           3739  I'm still starry-eyed from it; I saw this last...
4           1562  Failed on every Front; Joel Schumacher who did...
...          ...                                                ...
2624603      520  Aims low, with hilarious results; ROBIN HOOD: ...
2624604     8640  Worst epic of 2004; I usually love big epics i...
2624605     1377  superb Second Movie; I was glad to see that Ti...
2624606    26746  Seagal takes out the garbage; This is hard cor...
2624607    34045  Is that I as in Butterfly?; In 2004, a film wa...

[2624608 rows x 2 columns]

In [4]:
df_for_reviews.dtypes

item_id     int64
txt        object
dtype: object

In [5]:
df_for_reviews.columns

Index(['item_id', 'txt'], dtype='object')

In [6]:
print(df_for_reviews.shape)
df_for_reviews

(2624608, 2)

         item_id                                                txt
0         172063  one-shot record of a belly dancer; "Carmencita...
1          95541  Banging Away..; Thomas Edison and William K.L....
2           7065  unbelievable; I cannot understand how anyone c...
3           3739  I'm still starry-eyed from it; I saw this last...
4           1562  Failed on every Front; Joel Schumacher who did...
...          ...                                                ...
2624603      520  Aims low, with hilarious results; ROBIN HOOD: ...
2624604     8640  Worst epic of 2004; I usually love big epics i...
2624605     1377  superb Second Movie; I was glad to see that Ti...
2624606    26746  Seagal takes out the garbage; This is hard cor...
2624607    34045  Is that I as in Butterfly?; In 2004, a film wa...

[2624608 rows x 2 columns]

In [7]:
df_for_test = df_for_reviews.iloc[0:100]
print(df_for_test.shape)
df_for_test

(100, 2)

    item_id                                                txt
0    172063  one-shot record of a belly dancer; "Carmencita...
1     95541  Banging Away..; Thomas Edison and William K.L....
2      7065  unbelievable; I cannot understand how anyone c...
3      3739  I'm still starry-eyed from it; I saw this last...
4      1562  Failed on every Front; Joel Schumacher who did...
..      ...                                                ...
95   172961  Dull and Moronic; In the untouched primordial ...
96     8043  A Different Kind of Horror Film; The Leary fam...
97      543  This may be Mike Myers funniest movie EVER!; F...
98     6746  Best when we're mired in rednecks; Fly Creek i...
99   148408  Larry Buchanan needs a budget, an editor and s...

[100 rows x 2 columns]

In [8]:
#df_for_test['txt'] = [
#    df_for_test['txt'].iloc[i][:500] if isinstance(df_for_test['txt'].iloc[i], str) else df_for_test['txt'].iloc[i]
#    for i in range(df_for_test.shape[0])
#]

In [9]:
df_with_sentiment = perform_sentiment_analysis(df_for_test, "txt")

In [10]:
df_with_sentiment

,item_id,txt,sentiment,sentiment_score
0,172063,"one-shot record of a belly dancer; ""Carmencita...",LABEL_1,0.696888
1,95541,Banging Away..; Thomas Edison and William K.L....,LABEL_2,0.525149
2,7065,unbelievable; I cannot understand how anyone c...,LABEL_0,0.911738
3,3739,I'm still starry-eyed from it; I saw this last...,LABEL_2,0.984118
4,1562,Failed on every Front; Joel Schumacher who did...,LABEL_0,0.820955
...,...,...,...,...
95,172961,Dull and Moronic; In the untouched primordial ...,LABEL_0,0.630481
96,8043,A Different Kind of Horror Film; The Leary fam...,LABEL_1,0.684798
97,543,This may be Mike Myers funniest movie EVER!; F...,LABEL_2,0.970499
98,6746,Best when we're mired in rednecks; Fly Creek i...,LABEL_0,0.515122
99,148408,"Larry Buchanan needs a budget, an editor and s...",LABEL_1,0.589674

In [11]:
df_with_sentiment["txt"].iloc[1]

'Banging Away..; Thomas Edison and William K.L. Dickson\'s "Blacksmith Scene," was the first film shown publicly in 1893. This short is a brief look at 3 workers as they go about their daily ritual. Great piece of work for its time. In the early days of cinema, directors typically recorded everyday events such as the arrival of ships or workers leaving a factory. These short films were called "actualities." Later, with the advent of better equipment (which could record for longer), directors began'