In [1]:
import pandas as pd
from pexpect.fdpexpect import fdspawn
import warnings

warnings.filterwarnings("ignore")
from src.models.sentiment_analysis import sentiment_analysis

In [2]:
#df_for_reviews = pd.read_json('./data/movie_dataset_public_final/raw/reviews.json', lines=True)

In [3]:
df_for_reviews = pd.read_pickle("./data/reviews.pkl")

In [4]:
df_for_reviews

         item_id                                                txt
0         172063  one-shot record of a belly dancer; "Carmencita...
1          95541  Banging Away..; Thomas Edison and William K.L....
2           7065  unbelievable; I cannot understand how anyone c...
3           3739  I'm still starry-eyed from it; I saw this last...
4           1562  Failed on every Front; Joel Schumacher who did...
...          ...                                                ...
2624603      520  Aims low, with hilarious results; ROBIN HOOD: ...
2624604     8640  Worst epic of 2004; I usually love big epics i...
2624605     1377  superb Second Movie; I was glad to see that Ti...
2624606    26746  Seagal takes out the garbage; This is hard cor...
2624607    34045  Is that I as in Butterfly?; In 2004, a film wa...

[2624608 rows x 2 columns]

In [5]:
df_for_reviews.dtypes

item_id     int64
txt        object
dtype: object

In [6]:
df_for_test = df_for_reviews.iloc[0:100]
print(df_for_test.shape)
df_for_test

(100, 2)

    item_id                                                txt
0    172063  one-shot record of a belly dancer; "Carmencita...
1     95541  Banging Away..; Thomas Edison and William K.L....
2      7065  unbelievable; I cannot understand how anyone c...
3      3739  I'm still starry-eyed from it; I saw this last...
4      1562  Failed on every Front; Joel Schumacher who did...
..      ...                                                ...
95   172961  Dull and Moronic; In the untouched primordial ...
96     8043  A Different Kind of Horror Film; The Leary fam...
97      543  This may be Mike Myers funniest movie EVER!; F...
98     6746  Best when we're mired in rednecks; Fly Creek i...
99   148408  Larry Buchanan needs a budget, an editor and s...

[100 rows x 2 columns]

In [7]:
df_with_sentiment = sentiment_analysis(df_for_test, "txt")

In [8]:
df_with_sentiment

,item_id,txt,sentiment,sentiment_score
0,172063,"one-shot record of a belly dancer; ""Carmencita...",LABEL_1,0.696181
1,95541,Banging Away..; Thomas Edison and William K.L....,LABEL_2,0.540349
2,7065,unbelievable; I cannot understand how anyone c...,LABEL_0,0.911738
3,3739,I'm still starry-eyed from it; I saw this last...,LABEL_2,0.984777
4,1562,Failed on every Front; Joel Schumacher who did...,LABEL_0,0.821944
...,...,...,...,...
95,172961,Dull and Moronic; In the untouched primordial ...,LABEL_0,0.591239
96,8043,A Different Kind of Horror Film; The Leary fam...,LABEL_1,0.718608
97,543,This may be Mike Myers funniest movie EVER!; F...,LABEL_2,0.971826
98,6746,Best when we're mired in rednecks; Fly Creek i...,LABEL_0,0.454461
99,148408,"Larry Buchanan needs a budget, an editor and s...",LABEL_1,0.590552